@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(23,26,32);
        color: #f5f5f5;
        padding: 0;
        margin: 0;
    }

    .avatar {
        width: 240px;
        height: 240px;
        border: 1px solid #bbdefb;
        border-radius: 120px;
        margin: 16px;
    }
    
    .card {
        background-color: rgb(46,52,64);
        border: 1px solid rgb(46,52,64);
        border-radius: 8px;
    }
    
    .navigation {
        display: flex;
        background-color: rgb(46,52,64);
    }
    
    .entry-item {
        color: #78909c;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        border: 1px solid transparent;
        white-space: nowrap;
    }
    
    .entry-item:hover {
        color: #bbdefb;
    }
    
    .expand {
        position: relative;
    }
    
    .expand-content {
        position: fixed;
        display: none;
        flex-direction: column;
        background-color: rgb(46,52,64);
        border: 1px solid #616161;
        border-radius: 4px;
    }
    
    .expand-item {
        color: #78909c;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        gap: 8px;
    }
    
    .expand-item:hover {
        color: #bbdefb;
    }
}