.main-content {
    padding: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.flow {
    flex-wrap: wrap;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-100 {
    flex-grow: 100;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.align-items-start {
    align-items: start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.align-items-stretch {
    align-items: stretch;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.nav-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    gap: 8px;
    overflow:hidden
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    max-width: 100%;
}